*{
    box-sizing: border-box;
    color: #26282C;
    /* Body Text/Inter/Medium/Medium */
    font-family: Inter, sans-serif;
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    background: #FAFAFA;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-bottom: 1px solid #DADDDD;
    overflow: hidden;
    position: sticky;
    padding-top: 1px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #FAFAFA;
}

.headerDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
}

.logo{
    margin-right: auto;
    color: #26282C;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    margin-left: 6rem;
    cursor: pointer;
}

.profileDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    gap: 12px;
    border-radius: 28px;
    border: 1px solid #DADDDD;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}

.names{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email{
    color: #787486;
    margin-block-start: 0;
}

.name{
    color: #26282C;
    margin-block-end: -5px;
}

.bellIcon{
    display: flex;
    width: 40px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    border: 0.769px solid #DADDDD;
    cursor: pointer;
}


.dateDiv{
    display: flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #26282C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}

.search{
    display: flex;
    width: 350px;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid #DADDDD;
    background: var(--Neutral-White, #FFF);
    padding-left: .5rem;
}

.menuBtn, .closeBtn{
    background: none;
    border: none;
    font-size: 1.5rem;
    outline: none;
    display: none;
}

.closeBtn{
    position: fixed;
    top: 0;
    right: 0;
}

#search{
    width: 100%;
    border-radius: inherit;
    border: none;
    padding: .5rem;
    outline: none;
}
/* End of Header styles */

/* nav bar styles */
nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #EBECF2;
    background: #F7F8FA;
    padding: 1rem;
    gap: .5rem;
    z-index: 20;
}

.navbarBtns, .themeBtnContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    aspect-ratio: 1;
    padding: .5rem;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    align-self: center;
    transition: background .5s;
}

.bellIcon:hover, .profileDiv:hover{
    background: #ddd;
}


.navbarBtns img, .themeBtnContainer button img{
    width: 20px;
}

.themeBtnContainer{
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    background: #FFF;
    padding: .5rem;
    border-radius: 100px;
}

.themeBtnContainer button{
    aspect-ratio: 1;
}

.flash{
    margin-bottom: 4px;
}

.flash:hover{
    background: none;
}

.flash img{
    width: 40px;
}

#light{
    background: #34CAA5;
}

.activeBorder{
    translate: 26px;
    display: none;
}

.navbarBtns:hover .activeBorder{
    display: inline;
}

/* End of Navbar style */

/* main style */

main{
    width: 100%;
    padding: 16px 0 16px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.barChart{
    width: min(806px, 50%);
    overflow: auto;
    height: 374px;
    border-radius: 14px;
    border: 1px solid #EDF2F7;
    background: #FFF;
    padding: 1rem;
    position: relative;
}

.salesTrend{
    margin-right: auto;
}

.sectionHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #3A3F51;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}

.dashlineContainer{
    display: flex;
    width: min(600px, 90%);
    height: 255px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    background: none;
    padding: 0;
    /* margin-left: auto; */
    padding-top: 1rem;
    position: relative;
    margin-left: auto;
}

.dashlineContainer img{
    width: 100%;
}

.figureContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: absolute;
    left: 5%;
    top: 80px;
    bottom: 0;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    color: var(--Neutral-600, #525252);
    opacity: 0.56;
}

.barContainer{
    display: flex;
    width: min(696px, 100%);
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.bar{
    width: 5%;
    height: 216px;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
    background: rgba(52, 202, 165, 0.10);
    position: relative;
}

.bar1{
    height: 68px;
}

.bar2{
    height: 120px;
}

.bar3{
    height: 40px;
}

.bar4{
    height: 161px;
}

.bar5,.bar7{
    height: 81px;
}

.bar6{
    height: 216px;
    background: linear-gradient(180deg, #34CAA5 0%, rgba(52, 202, 165, 0.00) 100%);
}

.bar8{
    height: 131px;
}

.bar9{
    height: 182px;
}

.bar10{
    height: 51px;
}

.bar11{
    height: 171px;
}

.bar12{
    height: 151px;
}

.bar span{
    position: absolute;
    bottom: -20px;
}

.seeAll{
    color: #34CAA5;
    text-align: center;

    /* Body Text/Plus Jakarta Sans/Medium/18 */
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    text-decoration: none;
}

.orders{
    width: min(806px, 50%);
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid #EDF2F7;
    background: #FFF;
    padding: 1rem;
}

.table, .table td, .table th, .table tr{
    text-align: left;
    border-bottom: 2px solid #EDF2F6;
    border-collapse: collapse;
}



td,th{
    padding-block: 1rem;
}

table{
    width: 100%;
}

.profileDivtd{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border: none!important;
}

.status{
    color: #34CAA5;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.refund{
    color: var(--Alerts-Error, #ED544E);
}

.dates{
    opacity: 0.56;
}

.orderGraphs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 48%;
    padding: 0;
}

.graphsContent{
    display: inline-flex;
    width: min(40%, 300px);
    padding: 16px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 14px;
    border: 1px solid #EDF2F7;
    background: #FFF;
    flex-direction: column;
    font-size: 14px;
    gap: .9rem;
}

.graphsContent div, .graphsContent p, .graphsContent h2{
    margin-block: 0;
}

.comparison{
    color: #606060;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.comparison span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(52, 202, 165, 0.12);
    padding: 4px 8px;
    color: #34CAA5;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    gap: .5rem;
}

.error{
    background: rgba(237, 84, 78, 0.12)!important;
    color: #ED544E!important;
}

.waveGraph{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.salesReport{
    display: flex;
    padding: 16px 16px 32px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 8px;
    background: #FFF;
    width: 40%;
}

.salesReport > div{
    width: 100%;
}

.ordersHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.platform{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.platformFigure{
    margin-right: auto;
}

.platformAmount{
    display: flex;
}

.platformAmount span{
    display: block;
}

.platformValue{
    margin-right: auto;
}

.rangeDivContainer{
    width: min(452px, 100%);
    height: 12px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--Gray-2, #F5F5F5);
}

.range{
    width: 245px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--Purple, #6160DC);
}

#graphTable tr td{
    border-bottom: 1px dashed #EAEAEA;
    padding: 1.04rem;
    position: relative;
}

#graphTable tr td span{
    position: absolute;
    bottom: -.6rem;
    left: -3rem;
}

table{
    border-collapse: collapse;
}

.closeBtn{
    z-index: 2
}

.headerDiv2{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #FFF;
    z-index: 1;
   
}

.search2{
    display: flex;
    width: 200px;
    margin-left: 60px;
    padding: .8rem;
    border: 1.2px solid;
    border-radius: .5rem;
}

.dateDiv2{
    margin-left: 60px;
}
.bellIcon2{
    margin-left: 70px;
}

.search2 input{
    border: none;
    width: 100px;
    background: none;
}

@media screen and (max-width: 900px) {
    main{
        flex-direction: column;
        align-items: center!important;
        justify-content: center!important;
        padding: 1rem;
    }

    .logo{
        margin-left: 0;
    }

    .barchart{
        width: min(100%, 480px)!important;
    }

    main > div{
        width: 100%!important;
        overflow: auto;
    }
    nav{
        display: none;
    }
    .dashlineContainer{
        margin-inline: auto;
    }
}

@media screen and (max-width: 720px) {
    #names, .dropdown{
        display: none;
    }
    .orderGraphs{
        flex-direction: column;
    }

    .menuBtn{
        display: block;
    }

    .orderGraphs > *{
        width: 100%;
    }
    .dashlineContainer{
        margin: 0;
        padding: 0;
    }
    .dashlineContainer table{
        width: 480px;
        overflow-x: auto;
        overflow-y: visible;
        padding-block: 0;
    }
    
    .barContainer{
        width: 480px;
        bottom: 15px;
    }
    
    #graphTable tr td span{
        position: absolute;
        bottom: -.6rem;
        left: -.5rem;
    }

    #graphTable tbody{
        padding-left: 3rem;
    }
    .search,.dateDiv, .bellIcon{
        display: none;
    }
    #profileDiv{
        border-radius: 50%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .headerDiv2{
        gap: .5rem;
    }    

}

.darkmode{
    background: #26282C;
    border-color: #787486;
}

.darkmode *{
    color: #EBECF2;
}

.darkmode2{
    background: #3A3F51;
    border: none;
}

.darkmode3 div{
    background: #3A3F51;
    border: none;
}

nav button{
    aspect-ratio: 1;
}
.tooltip{
    width: 50px;
    background: black;
    height: 20px;
    color: #FFF;
    position: absolute;
    top: -30px;
    right: -12px;
    text-align: center;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
}

.tooltip::after{
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border: 5px solid transparent;
      border-top-color: black;
}

.bar:hover .tooltip{
    display: flex;
}
